{% extends "layout.html" %}

{% block "content" %}
<h2>Order summary</h2>
<h3>Contact details</h3>
<dl>
    <dt>Name</dt>
    <dd> {{ purchase.name }} <dd>
    <dt>email</dt>
    <dd>{{ purchase.email }}</dd>
</dl>
<h3> Tickets </h3>
<table class="table">
    <tr>
        <th>Name on badge</th>
        <th> Ticket type </th>
        <th class="text-right"> Price </th>
    </tr>
    {% for ticket in purchase.ticket_set.all %}
    <tr>
        <td>{{ ticket.name}}</td>
        <td>{{ ticket.ticket_type.name }}</td>
        <td class="text-right">{{ ticket.ticket_type.price }} SEK</td>

    </tr>
    {% endfor %}
    <tr><td></td><td></td>
        <td class="text-right">
            <b>Additional contribution:</b> {{ purchase.additional_contribution }} SEK<br />
            {% if purchase.coupon %}
                <b>Coupon code:</b> -{{ purchase.coupon.percentage }}%<br />
            {% endif %}
            <b>Total:</b> {{ purchase.price }} SEK
        </td>
    </tr>
</table>

<div class="row">
    <a href="/" class="btn btn-default col-lg-2" > Go back </a>
    <div class="col-lg-4 col-md-offset-6"> {{ paypal.render }} </div>
</div>

<div class="row">
    <span class="col-md-offset-8 col-lg-4 text-right">
        <a href="#">I don't want to use PayPal </a>
    </span>
    <a href="" >
</div>

{% endblock %}
