{% extends "layout.html" %}

{% block "content" %}
<h4>Hej {{ purchase.name }}!</h4>

<p>Here is a summary of your ticket purchase, please make sure that everything is in order before paying.

<p>We'll email you at <b>{{ purchase.email }}</b> with a confirmation once the transaction is fully processed.

<h3> Tickets </h3>
<table class="table">
    <tr>
        <th>Name on badge</th>
        <th> Ticket type </th>
        <th class="text-right"> Price </th>
    </tr>
    {% for ticket in purchase.ticket_set.all %}
    <tr>
        <td>{{ ticket.name}}</td>
        <td>{{ ticket.ticket_type.name }}</td>
        <td class="text-right">{{ ticket.ticket_type.price }} SEK</td>

    </tr>
    {% endfor %}
    <tr><td></td><td></td>
        <td class="text-right">
            <b>Additional contribution:</b> {{ purchase.additional_contribution }} SEK<br />
            {% if purchase.coupon %}
                <b>Coupon code:</b> -{{ purchase.coupon.percentage }}%<br />
            {% endif %}
            <b>Total:</b> {{ purchase.price }} SEK
        </td>
    </tr>
</table>


<div class="row">
    <div class="col-lg-3 col-md-offset-9"> {{ paypal.render }} </div>
</div>

<h3>Don't want to use PayPal?</h3>
<p>If you don't want to use paypal, we also accept bank transfers. You can transfer the amount (<b>{{ purchase.price }} kr</b>) to one of he following account. <b>Please enter FSCONS and your email address in the comment to help us identify your order.</b>

<ul>
  <li><b>Plusgiro:</b> 47 78 84-1
  <li><b>Bankgiro:</b> 311-5060
  <li><b>IBAN:</b> SE27 9500 0099 6026 0477 8841 (<b>BIC:</b> NDEASESS)
</ul>

<p>If you bought at least one buisness tickets and you wish to pay by invoice, please contact us at <a href="mailto:info@fscons.org">info@fscons.org</a> with your invoice address.

{% endblock %}
