{% extends "layout.html" %}

{% block "content" %}

<p>Join us during our three day program, starting with relevant workshops on
the Friday and continuing with two full days of talks and social events where
you meet, greet, and share information in areas related to our three pillars:
Society, Technology and Culture.

<p>We have three different registration options, so take your pick and see you
in Gothenburg, Sweden in November!

<dl>
  {% for ticket_type in ticket_types %}
  <dt>{{ ticket_type.name }}
  <dd>{{ ticket_type.description }}
  {% endfor %}
</dl>

<p>If you encounter any problems while registering, we would appreciate your
feedback so that we can ensure that the problems are corrected. Please email
info@fscons.org in this case, of if you wish to register in another way.

<form role="form" action="" method="POST" style="background:#F8F8F8;padding: 1em">
  {% csrf_token %}
  <fieldset><legend>Contact details</legend>
    {% include "bootstrap-form-group.html" with field=form.name %}
    {% include "bootstrap-form-group.html" with field=form.email %}
    <div class="checkbox">
      <label>
        {{ form.keep_me_updated }}
        Keep me updated about the next FSCONS.
      </label>
    </div>
  </fieldset>

  <fieldset><legend>Tickets</legend>
    {{ formset.management_form }}

    {% for error in formset.non_form_errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    <input type="hidden" name="ticket_count" value="{{ ticket_forms|length }}">
    {% for ticket_form in ticket_forms %}
      <div class="row" style="margin-bottom:1em" >
        {% for field in ticket_form %}
        <div class="input-group col-lg-5 {% if field.errors%}has-error{% endif %}">
          <span class="input-group-addon">{{ field.label }}</span>
          {{ field }}
        </div>
        {% endfor %}
        {% if forloop.last %}
          <div class="col-lg-2">
            <div class="btn-group">
              <button type="submit" name="minus" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
              <button type="submit" name="plus" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>
        {% endif %}
        </div>
      {% endfor %}
    {% for f in formset %}
    {{ f.id }}
    <div class="row" style="margin-bottom:1em" >
      {% for field in f %}
      <div class="input-group col-lg-5 {% if field.errors%}has-error{% endif %}">
        <span class="input-group-addon">{{ field.label }}</span>
        {{ field }}
      </div>
      {% endfor %}
      {% if forloop.last %}
      <div class="col-lg-2">
        <div class="btn-group">
          <button type="submit" name="minus" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
          <button type="submit" name="plus" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </fieldset>

  <fieldset><legend>Payment details</legend>
      <div class="form-group">
          <label for="inputEmail1" class="col-lg-2 control-label">
              {{ form.additional_contribution.label }}
          </label>
          <div class="col-lg-10">
              {{ form.additional_contribution }}
              <span class="help-block">
                  {{ form.additional_contribution.help_text }}
              </span>
              {% for error in form.additional_contribution.errors %}
              <span class="help-block">{{ error|escape }}</span>
              {% endfor %}
          </div>
      </div>
      <div class="form-group">
          <label for="id_coupon" class="col-lg-2 control-label">
              {{ form.coupon.label }}
          </label>
          <div class="col-lg-10">
              {{ form.coupon }}
              <span class="help-block">
                  {{ form.coupon.help_text }}
              </span>
              {% for error in form.coupon.errors %}
              <span class="help-block">{{ error|escape }}</span>
              {% endfor %}
          </div>
      </div>
  </fieldset>

  <fieldset><legend>Additional information</legend>
    {% include "bootstrap-form-group.html" with field=form.additional_information %}
  </fieldset>
  <div class="control-group row">
    <button type="submit" class="btn btn-primary col-lg-6 col-md-offset-3" id="checkout">
        Checkout
    </button>
  </div>
</form>
{% endblock %}
