{% extends "layout.html" %}

{% block "content" %}
<form role="form" action="" method="POST">
  {% csrf_token %}
  <fieldset><legend>Contact details</legend>
    {% include "bootstrap-form-group.html" with field=form.name %}
    {% include "bootstrap-form-group.html" with field=form.email %}
    <div class="checkbox">
      <label>
        {{ form.keep_me_updated }}
        Keep me updated about the next FSCONS.
      </label>
    </div>
  </fieldset>

  <fieldset><legend>Tickets</legend>
    {{ formset.management_form }}
    {% for f in formset %}
    {{ f.id }}
    <div class="row" style="margin-bottom:1em" >
      <div class="input-group col-lg-5 {% if f.name.errors%}has-error{% endif %}">
        <span class="input-group-addon">name: </span>
        {{ f.name }}
      </div>
      <div class="col-lg-5 {% if f.ticket_type.errors%}has-error{% endif %}">
        {{ f.ticket_type }}
      </div>
      {% if forloop.last %}
      <div class="col-lg-2">
        <div class="btn-group">
          <button type="submit" name="minus" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
          <button type="submit" name="plus" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </fieldset>

  <fieldset><legend>Payment details</legend>
      <div class="form-group">
          <label for="inputEmail1" class="col-lg-2 control-label">
              {{ form.additional_contribution.label }}
          </label>
          <div class="col-lg-10">
              {{ form.additional_contribution }}
              <span class="help-block">
                  {{ form.additional_contribution.help_text }}
              </span>
              {% for error in form.additional_contribution.errors %}
              <span class="help-block">{{ error|escape }}</span>
              {% endfor %}
          </div>
      </div>
      <div class="form-group">
          <label for="id_coupon" class="col-lg-2 control-label">
              {{ form.coupon.label }}
          </label>
          <div class="col-lg-10">
              {{ form.coupon }}
              <span class="help-block">
                  {{ form.coupon.help_text }}
              </span>
              {% for error in form.coupon.errors %}
              <span class="help-block">{{ error|escape }}</span>
              {% endfor %}
          </div>
      </div>
  </fieldset>

  <fieldset><legend>Additional information</legend>
    {% include "bootstrap-form-group.html" with field=form.additional_information %}
  </fieldset>
  <div class="control-group row">
    <button type="submit" class="btn btn-primany col-lg-6 col-md-offset-3" id="checkout">
        Checkout
    </button>
  </div>
</form>
{% endblock %}
