<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FSCONS 2013 tickets | FSCONS</title>
  <link rel="stylesheet" href="https://fscons.org/assets/css/fscons.theme.css" type="text/css" media="screen">
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <img class="logo" alt="FSCONS logo" src="https://fscons.org/2013/images/logo-small.png">
          <a  href="https://fscons.org/2013/">FSCONS 2013</a><br/>
          <p class="hidden-xs">
            <i class="glyphicon glyphicon-map-marker"></i>
            8, 9 &amp; 10 November, Göteborg, Sweden
          </p>
        </div>
      </div>

      <div class="collapse navbar-collapse nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://fscons.org/2013/">
            <span class="glyphicon glyphicon-home"></span>
          </a></li>
          <li><a href="https://fscons.org/2013/about.html">About</a></li>
          <li><a href="https://fscons.org/2013/news.html">News</a></li>
          <li><a href="https://frab.fscons.org/en/fscons13/public/schedule">Schedule</a></li>
          <li><a href="https://fscons.org/2013/practical_info/practical_info.html">Practical</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

<div id="wrap">
  <div class="wrapper container" id="main">
    <h1>FSCONS 2013 tickets</h1>
    {% for message in messages %}
    <div class="alert {% if 'error' in message.tags %}alert-danger{% endif %} {% if 'warning' in message.tags %}alert-warning{% endif %}">
      {{ message }}
    </div>
    {% endfor %}
    {% block "content" %}{% endblock %}
  </div>
</div>

    {% block extra_js %}{% endblock extra_js %}
</body>
    </html>
