<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FSCONS 2013 tickets | FSCONS</title>
  <link rel="stylesheet" href="https://fscons.org/2013/fscons.theme.css" type="text/css" media="screen">
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/2013/">
        <img class="logo" alt="FSCONS logo" src="/2013/images/logo-small.png">
        FSCONS
      </a>
    </div>

    <div class="collapse navbar-collapse nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/2013/">FSCONS 2013</a></li>
        <li><a href="/2013/cfp/">CFP</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div id="wrap">
  <div class="wrapper container" id="main">
    <h1>FSCONS 2013 tickets</h1>
    {% for message in messages %}
    <div class="alert {% if 'error' in message.tags %}alert-danger{% endif %}">{{ message }}</div>
    {% endfor %}
    {% block "content" %}{% endblock %}
  </div>
</div>


